<%= render "publics/users/errors", user: @shop %>
<div class="text-success text-center">
  <%= flash[:notice]%>
</div>
<div class="text-danger text-center">
  <%= flash[:alart]%>
</div>

<div class="container">
  <div class="row">
    <div class="col text-center mt-5">
      <h1>Mypage</h1>
    </div>
  </div>

<!-- User詳細 -->
  <%= render "publics/users/show", user: @user %>

<!-- 新規投稿機能 -->
  <div class="row">
    <%= render "publics/shops/form", shop: @shop %>

<!-- 自分が投稿したShop -->
  <% if @shops.present? %>
    <div class="col-md-8 mt-3">
      <h3 class="text-center">投稿一覧</h3>
      <table class="table mt-3">
        <thead>
          <tr>
            <th width="15%">Shop image</th>
            <th width="15%">Shop name</th>
            <th width="15%">Genre</th>
            <th width="10%">tag</th>
            <th width="28%">Review</th>
            <th width="17%"></th>
          </tr>
        </thead>
        <tbody>
          <% @shops.each do |shops| %>
          <tr>
            <td><%= image_tag shops.get_shop_image, size: "100x100" %></td>
            <td><%= link_to shops.shop_name, publics_shop_path(shops) %></td>
            <td><%= shops.genre.name %></td>
            <td>
              <% shops.tags.each do |tag| %>
                <%= tag.tag_name %>,
              <% end %>
            </td>
            <td><%= render "publics/shops/review", shops: shops %></td>
            <td><%= link_to "編集", edit_publics_shop_path(shops.id), class: "btn btn-primary" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <%= paginate @shops %>
      </div>
    </div>
  <% else %>
    <div class="col-md-8 mt-3">
      <h3 class="text-center">投稿一覧</h3>
      <h4 class="text-center mt-5">投稿がありません</h4>
    </div>
  <% end %>
  </div>
</div>