<div class="container">
  <div class="row">
    <div class="col text-center mt-5">
      <h1>Mypage</h1>
    </div>
  </div>

<!-- 新規投稿機能 -->
  <div class="row-md-2 mt-3">
    <h3>行ったお店を投稿しよう！</h3>
      <%= render "publics/shops/form", shop: @shop %>
  </div>

  <!-- User詳細 -->
  <div class="row">
    <div class="col-xl-1">
      <%= image_tag @user.get_profile_image, size: "150x150" %>
    </div>
    <div class="col-xl-1"></div>
    <div class="col-xl-8 center-block">
      <table>
        <tr>
          <th>名前</th>
          <td><%= @user.last_name + " " + @user.first_name %></td>
        </tr>
        <tr>
          <th>自己紹介</th>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <th>follows</th>
          <td><%= link_to @user.followings.count, followings_publics_user_path(@user) %></td>
        </tr>
        <tr>
          <th>followers</th>
          <td><%= link_to @user.followers.count, followers_publics_user_path(@user) %></td>
        </tr>
      </table>
      <div class="row">
        <%= link_to "ユーザー情報編集", edit_publics_user_path(@user), class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <!-- 自分が投稿したShop -->
  <div class="row mt-3">
    <table>
      <thead>
        <tr>
          <th>Shop image</th>
          <th>Shop address</th>
          <th>Genre</th>
          <th>Review</th>
        </tr>
      </thead>
      <tbody>
        <% @shops.each do |shops| %>
        <tr>
          <td><%= image_tag shops.get_shop_image, size: "100x100" %></td>
          <td><%= shops.shop_address %></td>
          <td><%= shops.genre.name %></td>
          <td><%= render "publics/shops/review", shops: shops %></td>
          <td><%= link_to "店舗情報編集", edit_publics_shop_path(shops.id), class: "btn btn-primary" %></td>
          <td><%= link_to "投稿削除", publics_shop_path(shops.id), method: :delete, data: { confirm: "本当に削除しますか？"}, class: "btn btn-danger" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>