  <table class="table mt-5">
    <thead class="text-center">
      <tr>
        <th width="10%">image</th>
        <th width="15%">shopname</th>
        <th width="20%">address</th>
        <th width="10%">genre</th>
        <th width="20%">review</th>
        <th width="20%">tag</th>
        <th width="5%">comments</th>
      </tr>
    </thead>
    <tbody>
      <% shops.each do |shops| %>
        <tr>
          <td class="text-center"><%= image_tag shops.get_shop_image, size: "100x100" %></td>
          <td class="text-center"><%= link_to shops.shop_name, publics_shop_path(shops), method: :get %></td>
          <td><%= shops.shop_address %></td>
          <td class="text-center"><%= shops.genre.name %></td>
          <td class="text-center"><%= render "publics/shops/review", shops: shops %></td>
          <td class="text-center">
            <% shops.tags.each do |tag| %>
              <%= tag.tag_name %>,
            <% end %>
          </td>
          <td class="text-center"><%= shops.shop_comments.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>