  <table class="table mt-5">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th>address</th>
        <th>genre</th>
        <th>review</th>
        <th>tag</th>
        <th>comments</th>
      </tr>
    </thead>
    <tbody>
      <% shops.each do |shops| %>
        <tr>
          <td><%= image_tag shops.get_shop_image, size: "100x100" %></td>
          <td><%= link_to shops.shop_name, publics_shop_path(shops), method: :get %></td>
          <td><%= shops.shop_address %></td>
          <td><%= shops.genre.name %></td>
          <td><%= render "publics/shops/review", shops: shops %></td>
          <td>
            <% shops.tags.each do |tag| %>
              <%= tag.tag_name %>,
            <% end %>
          </td>
          <td><%= shops.shop_comments.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>