<div class="container">
  <div class="row">
    <div class="col mt-5 text-center">
      <h1><%= @user.last_name + " " + @user.first_name %>さんのプロフィール/投稿一覧</h1>
    </div>
  </div>
  <!-- ユーザー情報 -->
  <%= render "admins/users/show", user: @user %>

  <!-- 投稿一覧 -->
  <% if @shops.present? %>
    <div class="row mt-4">
      <table class="table">
        <thead>
          <tr>
            <th>Shop image</th>
            <th>Shop name</th>
            <th>Shop address</th>
            <th>Review</th>
          </tr>
        </thead>
        <tbody>
        <% @shops.each do |shops| %>
          <tr>
            <td class="text-center"><%= image_tag shops.get_shop_image, size: "100x100" %></td>
            <td><%= link_to shops.shop_name, admins_shop_path(shops), method: :get %></td>
            <td><%= shops.shop_address %></td>
            <td width="25%"><%= render "publics/shops/review", shops: shops %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="row mt-3">
      <div class="col mt-3 text-center">
        <h3>まだ投稿がありません</h3>
      </div>
    </div>
  <% end %>
</div>