<div class="text-danger text-center">
  <%= flash[:alart]%>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col mt-5">
      <h1>Shops</h1>
    </div>
  </div>

  <table class="table mt-5">
    <thead>
      <tr>
        <th>image</th>
        <th>shop name</th>
        <th>genre</th>
        <th>review</th>
        <th>tag</th>
        <th>comment</th>
      </tr>
    </thead>
    <tbody>
      <% @shops.each do |shops| %>
        <tr>
          <td><%= image_tag shops.get_shop_image, size: "100x100" %></td>
          <td><%= shops.shop_name %></td>
          <td><%= shops.genre.name %></td>
          <td><%= render "publics/shops/review", shops: shops %></td>
          <td>
            <% shops.tags.each do |tag| %>
              <%= tag.tag_name %>,
            <% end %>
          </td>
          <td><%= shops.shop_comments.count %></td>
          <td><%= link_to "Show", admins_shop_path(shops.id), class: "btn btn-secondary" %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>



  <div class="row text-center">
    <div class="col mt-5">
      <%= paginate @shops %>
    </div>
  </div>
</div>