<div class="text-success text-center">
  <%= flash[:notice] %>
</div>
<div class="text-danger text-center">
  <%= flash[:alart]%>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col mt-5">
      <h1>Shop info</h1>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col text-center">
      <%= image_tag @shop.get_shop_image, size: "600x300" %>
    </div>
  </div>

  <div class="w-75 mx-auto">
    <table class="table table-bordered text-center mt-3">
      <tr>
        <th scope="row" width="30%">Shop name</th>
        <td><%= @shop.shop_name %></td>
      </tr>
      <tr>
        <th scope="row">Shop address</th>
        <td><%= @shop.shop_address %></td>
      </tr>
      <tr>
        <th scope="row">Genre</th>
        <td><%= @shop.genre.name %></td>
      </tr>
      <tr>
        <th scope="row">Tag</th>
        <td>
          <% @shop.tags.each do |tag| %>
            <%= tag.tag_name %>,
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">Shop detail</th>
        <td><%= @shop.shop_detail %></td>
      </tr>
      <tr>
        <th>Review</th>
        <td>
          <div id="star<%= @shop.id %>"></div>
        </td>
      </tr>
    </table>

    <script>
      <% if @shop.status == "表示" %>
        $("#star<%= @shop.id %>").empty();
        $("#star<%= @shop.id %>").raty({
          size: 36,
          starOff: "<%= asset_path("star-off.png") %>",
          starHalf: "<%= asset_path("star-half.png") %>",
          starOn: "<%= asset_path("star-on.png") %>",
          half: true,
          readOnly: true,
          score: <%= @shop.star %>,
        });
      <% else %>
         $("#star<%= @shop.id %>").html("管理者が非表示にしました");
      <% end %>
      </script>
      <div class="text-center">
        <%= link_to "ショップ情報編集", edit_admins_shop_path(@shop), class: "btn btn-success" %>
      </div>

      <div class="w-75 mx-auto">
        <% if @shop.shop_comments.present? %>
        <h2 class="text-center mt-4 mb-4">コメント一覧</h2>
        <table class="table table-bordered text-center mt-3">
          <thead>
            <tr>
              <th width="40%">ユーザー</th>
              <th>コメント</th>
              <th width="20%"></th>
            </tr>
          </thead>
          <tbody>
            <% @shop.shop_comments.each do |shop_comment| %>
              <tr>
                <td>
                  <%= link_to admins_user_path(shop_comment.user) do %>
                    <%= image_tag shop_comment.user.get_profile_image, size: "100x100" %>
                    <%= shop_comment.user.last_name + " " + shop_comment.user.first_name %>
                  <% end %>
                </td>
                <td>
                  <%= shop_comment.comment %>
                </td>
                <td>
                  <%= link_to "削除する", admins_shop_shop_comment_path(@shop, shop_comment), method: :delete, data: { confirm: "不適切なコメントとして削除しますか?"}, class: "btn btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% else %>
          <h2 class="text-center mt-4 mb-4">コメントがありません</h2>
        <% end %>
      </div>
    </div>
  </div>